@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Nanum Gothic', sans-serif;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration:none;
    color:inherit;
}
ul{
    list-style:none;
}
img{
    vertical-align: top;
}





header{
    background-color:black;
}
header .hd_wrap{
    height:45px;
    width:100%;
    position:relative;
}
.hd_wrap h1{
    position:absolute;
    top:13px;
    left:20px;
}
.hd_wrap h1 img{
    width:55px;
    height:auto;
}
.hd_wrap .m_all_btn{
    position:absolute;
    top:0;
    right:55px;
    width:20px;
    height:45px;
    background-color:inherit;
    border:none;
}
.hd_wrap .m_all_btn span{
    display:block;
    width:20px;
    height:2px;
    margin-bottom:5px;
    background-color:white;
}
.hd_wrap .m_all_btn span:last-child{
    margin-bottom:0;
}
.hd_wrap .m_cart_btn{
    position:absolute;
    top:0;
    right:20px;
    width:20px;
    height:45px;
    background-image:url(../images/m_cart.png);
    background-repeat:no-repeat;
    background-size:20px auto;
    background-position:center;
    background-color:inherit;
    border:none;
}
.hd_wrap .main_gnb{
    position:absolute;
    top:45px;
    right:0;
    height:100vh;
    background-color:black;
    color:#ffffff;
    z-index:10;
    font-size:0;
}
.hd_wrap .m_user{
    position:absolute;
    top:0;
    right:0;
    width:50%;
    height:45px;
    background-color:black;
    color:#ffffff;
    z-index:10;
    border-bottom:1px solid #504e4e;
    box-sizing:border-box;
    display:none;
}
.hd_wrap .m_user ul{
    text-align:right;
    margin-top:15px;
    margin-right:20px;
    font-size:0;
}
.hd_wrap .m_user li{
    display:inline-block;
    font-size:14px;
    margin-right:5px;
}
.hd_wrap .m_user li:last-child{
    margin-right:0;
}
.hd_wrap .main_gnb{
    position:absolute;
    top:45px;
    right:0;
}
.hd_wrap .main_gnb li{
    font-size:14px;
    border-bottom:1px solid #504e4e;
    box-sizing:border-box;
    position:relative;
    font-weight:bold;
    background-color:black;
}
.hd_wrap .main_gnb li a{
    display:block;
    height:100%;
    width:100%;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:20px;
}
.hd_wrap .main_gnb .pc_sub_gnb{
    display:none;
}
.hd_wrap .main_gnb .m_sub_gnb{
    width:100%;
    color:#ffffff;
    font-size:0;
    display:none;
}
.hd_wrap .main_gnb .m_sub_gnb li{
    font-size:14px;
    border-bottom:1px solid #504e4e;
    box-sizing:border-box;
    position:relative;
    font-weight:normal;
    background-color:rgba(255,255,255,0.1);
}
.hd_wrap .main_gnb .m_sub_gnb li:last-child{
    border:0;
}
.hd_wrap .main_gnb .m_sub_gnb .red{
    color:#c2222a;
}
.hd_wrap .main_gnb li:nth-child(4) .m_sub_gnb ul li:first-child{
    display:none;
}
.hd_wrap .main_gnb li:nth-child(4) .m_sub_gnb ul li:nth-child(2){
    border-top:1px solid #504e4e;
}
.hd_wrap .main_gnb li:nth-child(5) .m_sub_gnb li:first-child{
    display:none;
}
.hd_wrap .main_gnb li:nth-child(5) .m_sub_gnb li:nth-child(2){
    border-top:1px solid #504e4e;
}
.hd_wrap .pc_side_gnb{
    display:none;
}
.main_bn{
    position:relative;
}
.main_bn a{
   display:block; 
}
.main_bn .pc_main_bg{
    display:none;
}
.main_bn .m_main_bg{
    width:100%;
    height:auto;
}
.main_bn .m_box{
    position:absolute;
    width:53%;
    top:40%;
    right:16.5%;
    border:9px dotted #f0e3e5;
    padding:1.5%;
}
.main_bn .m_box .img_wrap{
    width:100%;
    height:100%;  
}
.main_bn .m_box .img_wrap img{
    width:100%;
}
.main_bn .m_box .img_wrap img:nth-child(2),.main_bn .m_box .img_wrap img:last-child{
    display:none;
}
.main_bn .pc_box{
    display:none;
}
.row1 .row1_wrap{
    height:600px;
    width:100%;
    position: relative
}
.row1 .row1_wrap h2{
    font-size:26px;
    font-weight:normal;
    text-align:center;
    padding-top:80px;
    color:#111;
}
.row1 .row1_wrap h2:after{
    content: '';
    display: block;
    width: 185px;
    background-color:#111;
    height: 2px;
    margin: 5px auto 0;
}
.row1_wrap .pd_wrap{
    position:relative;
    height:350px;
    margin-top:40px;
    margin-left:calc(50% - 135px);
}
.row1_wrap .arrow{
    position: relative;
    width:100%;
    z-index: 999;
}
.row1_wrap .arrow .prev{
    position:absolute;
    top:140px;
    left:calc(50% - 175px);
}
.row1_wrap .arrow .prev img{
    position:absolute;
    top:0;
    left:0;
}
.row1_wrap .arrow .on{
    display:none;
}
.row1_wrap .arrow .prev:hover .on{
    display:block;
}
.row1_wrap .arrow .next:hover .on{
    display:block;
}
.row1_wrap .arrow .next{
    position:absolute;
    top:140px;
    left:calc(50% + 135px);
}
.row1_wrap .arrow .next img{
    position:absolute;
    top:0;
    left:0;
}
.row1_wrap .pd_wrap .box{
    width:270px;
    height:350px;
}
.row1_wrap .pd_wrap .box a{
    display:block;
    width:100%;
    height:100%;
}
.row1_wrap .pd_wrap .img_box .on{
    display:none;
}
.row1_wrap .pd_wrap .img_box img{
    position:absolute;
    width:270px;
    height:auto;    
}
.row1_wrap .pd_wrap .img_box:hover .on{
    display:block;
}
.row1_wrap .pd_wrap .box p{
    position:absolute;
    bottom:0;
    font-size:15px;
    width:270px;
    height:80px;
}
.row1_wrap .pd_wrap .box span{
    display:block;
}
.row1_wrap .pd_wrap .box .gender_m{
    display:inline-block;
    margin-bottom:10px;
    margin-top:10px;
    font-size:14px;
    color:#000ba6;
    font-weight:bold;
}
.row1_wrap .pd_wrap .box .gender_w{
    display:inline-block;
    margin-bottom:10px;
    margin-top:10px;
    font-size:14px;
    color:#e22000;
    font-weight:bold;
}
.row1_wrap .pd_wrap .box .gender_k{
    display:inline-block;
    margin-bottom:10px;
    margin-top:10px;
    font-size:14px;
    color:#f77c00;
    font-weight:bold;
}
.row1_wrap .pd_wrap .box .size{
    display:inline-block;
    margin-bottom:10px;
    margin-top:10px;
    font-size:14px;
    color:#757575;
    float:right;
}
.row1_wrap .pd_wrap .box .tit{
    margin-bottom:5px;
}
.row1_wrap .pd_wrap .box .price{
    font-weight:bold;
}
.row1_wrap .pd_wrap .box{
    display: inline-block;
}

.mid_bn a{
    display:block;
    width:100%;
}
.mid_bn>div .pc_bn{
    display:none;
}
.mid_bn>div .m_bn{
    top:0;
    left:0;
    width:100%;
    height:auto;
}
.mid_bn .bn2,.mid_bn .bn3{
    display:none;
}
.row2 .row2_wrap{
    height:600px;
    width:100%;
    position: relative
}

.row2 .arrow{
    position: relative;
    z-index: 999;
}
.row2 .row2_wrap h2{
    font-size:26px;
    font-weight:normal;
    text-align:center;
    padding-top:80px;
    color:#111;
}
.row2 .row2_wrap h2:after{
    content: '';
    display: block;
    width: 165px;
    background-color:#111;
    height: 2px;
    margin: 5px auto 0;
}
.row2_wrap .pd_wrap{
    position:relative;
    height:350px;
    margin-top:40px;
    margin-left:calc(50% - 135px);
}

.row2_wrap .arrow .prev{
    position:absolute;
    top:140px;
    left:calc(50% - 175px);
}
.row2_wrap .arrow .prev img{
    position:absolute;
    top:0;
    left:0;
}
.row2_wrap .arrow .on{
    display:none;
}
.row2_wrap .arrow .prev:hover .on{
    display:block;
}
.row2_wrap .arrow .next:hover .on{
    display:block;
}
.row2_wrap .arrow .next{
    position:absolute;
    top:140px;
    left:calc(50% + 135px);
}
.row2_wrap .arrow .next img{
    position:absolute;
    top:0;
    left:0;
}
.row2_wrap .pd_wrap .box{
    width:270px;
    height:350px;

}
.row2_wrap .pd_wrap .box a{
    display:block;
    width:100%;
    height:100%;
}
.row2_wrap .pd_wrap .img_box .on{
    display:none;
}
.row2_wrap .pd_wrap .img_box img{
    position:absolute;
    width:270px;
    height:auto;    
}
.row2_wrap .pd_wrap .img_box:hover .on{
    display:block;
}
.row2_wrap .pd_wrap .box p{
    position:absolute;
    bottom:0;
    font-size:15px;
    width:270px;
    height:80px;
}
.row2_wrap .pd_wrap .box span{
    display:block;
}
.row2_wrap .pd_wrap .box .gender_m{
    display:inline-block;
    margin-bottom:10px;
    margin-top:10px;
    font-size:14px;
    color:#000ba6;
    font-weight:bold;
}
.row2_wrap .pd_wrap .box .gender_w{
    display:inline-block;
    margin-bottom:10px;
    margin-top:10px;
    font-size:14px;
    color:#e22000;
    font-weight:bold;
}
.row2_wrap .pd_wrap .box .gender_k{
    display:inline-block;
    margin-bottom:10px;
    margin-top:10px;
    font-size:14px;
    color:#f77c00;
    font-weight:bold;
}
.row2_wrap .pd_wrap .box .size{
    display:inline-block;
    margin-bottom:10px;
    margin-top:10px;
    font-size:14px;
    color:#757575;
    float:right;
}
.row2_wrap .pd_wrap .box .tit{
    margin-bottom:5px;
}
.row2_wrap .pd_wrap .box .price{
    font-weight:bold;
}

.row2_wrap .pd_wrap .box:nth-child(2){
    display:block;
}

.row3 a{
    display:block;
}
.row3 .pc_team{
    display:none;
}
.row3 .m_team{
    width:100%;
    height:auto;
}

.row4 .row4_wrap .pc_first{
    display:none;
}
.row4 .row4_wrap .pc_second{
    display:none;
}
.row4 .row4_wrap{
    height:650px;
    width:100%;
    margin:0 auto;
}
.row4 .row4_wrap h2{
    font-size:26px;
    font-weight:normal;
    text-align:center;
    padding-top:80px;
    color:#111;
}
.row4 .row4_wrap h2:after{
    content: '';
    display: block;
    width: 45px;
    background-color:#111;
    height: 2px;
    margin: 5px auto 0;
}
.row4_wrap .icon_box{
    width:190px;
    margin:0 auto;
    margin-top:40px;
}
.row4_wrap .icon_box:after{
    clear:both;
    content:'';
    display:block;
}
.row4_wrap .icon_box>div{
    float:left;
    position:relative;
    width:50px;
    height:50px;
    margin-right:20px;
}
.row4_wrap .icon_box .box3{
    margin-right:0;
}
.row4_wrap .icon_box>div img{
    position:absolute;
    top:0;
    left:0;
    width:50px;
    height:auto;
}
.row4_wrap .icon_box>div .on{
    display:none;
}
.row4_wrap .icon_box>div:hover .on{
    display:block;
}

.row4_wrap .insta{
    text-align:center;
    font-weight:bold;
    font-size:18px;
    margin-top:40px;
    margin-bottom:10px;
}
.row4_wrap .insta span{
    font-weight:normal;
    margin-left:10px;
}
.row4_wrap .m_box_wrap{
    width:280px;
    height:280px;
    margin:0 auto;
}
.row4_wrap .m_box_wrap .box{
    width:140px;
}
.row4_wrap .m_box_wrap .box img{
    width:140px;
}
.row4_wrap .m_box_wrap .box:first-child{
    display:block;
}
 
.ft_wrap .f1 .pc_ul{
    display:none;
}
.ft_wrap .f1 .pc_icon_box{
    display:none;
}
.ft_wrap .f3 .pc_last{
    display:none;
}
footer{
    background-color:black;
}
footer .ft_wrap{
    width:calc(100% - 80px);
    margin:0 auto;
}
footer .ft_wrap .f1 h2 img{
    width:100px;
    height:auto;
}
footer .ft_wrap .f1 h2{
    text-align:center;
    padding-top:20px;
    padding-bottom:30px;
}
.ft_wrap .f2>div h3{
    font-size:18px;
    color:#ffffff;
    margin-bottom:15px;
}
.ft_wrap .f2>div p{
    font-size:14px;
    color:#ffffff;
}
.ft_wrap .f2 .box1 .tel{
    margin-bottom:10px;
}
.ft_wrap .f2 .box1 .tel:after{
    content:'';
    display:block;
    height:2px;
    width:108px;
    background-color:#ffffff;
    margin-top:5px;
}
.ft_wrap .f2 .box2 h3{
    margin-top:30px;
}
.ft_wrap .f2 .box2 input{
    border:none;
    height:30px;
    width:300px;
    margin-bottom:5px;
}
.ft_wrap .f2 .m_list{
    margin-top:40px;
    margin-bottom:20px;
}
.ft_wrap .f2 .m_list ul{
    text-align:left;
}
.ft_wrap .f2 .m_list li{
    display:inline-block;
    color:#ffffff;
    font-size:14px;
}
.ft_wrap .f3 address{
    font-size:14px;
    font-style:normal;
    color:#b8b7b7;
    margin-bottom:10px;
}
.ft_wrap .f3 .m_last{
    font-size:14px;
    color:#b8b7b7;
    padding-bottom:20px;;
}







@media all and (min-width:1024px){
    header .hd_wrap{
        height:70px;
        width:1200px;
        margin:0 auto;
    }
    .hd_wrap h1 img{
        width:110px;
        height:auto;
    }
    .hd_wrap h1{
        text-align:center;
        left:0;
        top:15px;
    }
    .hd_wrap .m_user{
        display:none;
    }
    .hd_wrap .m_all_btn{
        display:none;
    }
    .hd_wrap .m_cart_btn{
        display:none;
    }
    .hd_wrap .main_gnb{
        display:block;
        text-align:left;
        height:0;
        position:absolute;
        left:150px;
        top:26px;
    }
    .hd_wrap .main_gnb li{
        border:none;
        position:static;
        display:inline-block;
        margin-right:30px;
        font-size:16px;
    }
    .hd_wrap .main_gnb li:last-child{
        margin-right:0;
    }
    .hd_wrap .main_gnb li a{
        position:static;
        width:100%;
        height:auto;
        padding:0;
    }
    .hd_wrap .main_gnb li a:hover{
        color:#c11c24;
    }
    .hd_wrap .main_gnb .main_gnb .m_sub_gnb{
        display:none;
    }
    .hd_wrap .main_gnb .main_gnb .pc_sub_gnb{
        display:block;
    }
    .hd_wrap .pc_side_gnb{
        display:block;
        text-align:right;
        position:absolute;
        right:0;
        top:26px;
    }
    .hd_wrap .pc_side_gnb li{
        display:inline-block;
        font-size:14px;
        color:#ccc8c8;  
    }
    .hd_wrap .pc_side_gnb li:hover{
        color:white;
    }
    .hd_wrap .pc_side_gnb input{
        background-color:inherit;
        border:0;
        border-bottom:1px solid #ccc8c8;
        margin-left:10px;
    }
    .hd_wrap .find{
        background-image:url(../images/pc_find.png);
        background-repeat:no-repeat;
        background-size:14px auto;
        position:absolute;
        top:27px;
        right:0;
        width:14px;
        height:14px;
        background-color:inherit;
        border:0;
    }
    .hd_wrap .main_gnb{
        position:relative;
    }
    .hd_wrap .main_gnb .pc_sub_gnb{
        background-color:black;
        position:absolute;
        top:44px;
        z-index: 10;
    }

    .hd_wrap .main_gnb .pc_sub_gnb:after{
        content:'';
        clear:both;
        display:block;
    }
    .hd_wrap .main_gnb .pc_sub_gnb>div{
        float:left;
        width:160px;
    }
    .hd_wrap .main_gnb  .pc_sub_gnb h3{
        font-size:14px;
        text-align:center;
        margin-top:5px;
    }
    .hd_wrap .main_gnb .pc_sub_gnb h3 a:hover{
        color:white;
    }
    .hd_wrap .main_gnb .pc_sub_gnb h3:after{
        content: '';
        display: block;
        background-color:#fff;
        height:2px;
        width:140px;
        margin:5px auto;
    }
    .hd_wrap .main_gnb .pc_sub_gnb li{
        font-size:14px;
        display:block;
        background-color:black;
        margin-left:10px;
        font-weight:normal;
        height:30px;
        line-height:30px;
        color:#dddada;
    }
    .hd_wrap .main_gnb .pc_sub_gnb li a:hover{
        color:white;
    }
    .hd_wrap .main_gnb .pc_sub_gnb .red{
        color:#c3232b;
        font-weight:bold;
    }
    .hd_wrap .main_gnb li:nth-child(1) .pc_sub_gnb{
        left:-140px;
    }
    .hd_wrap .main_gnb li:nth-child(2) .pc_sub_gnb{
        left:-65px;
    }
    .hd_wrap .main_gnb li:nth-child(3) .pc_sub_gnb{
        width:160px;
        left:100px;
    }
    .hd_wrap .main_gnb li:nth-child(3) .pc_sub_gnb span{
        position:relative;
        margin-left:20px;
    }
    .hd_wrap .main_gnb li:nth-child(3) .pc_sub_gnb span:before{
        content:'';
        display:block;
        background-color:#dddada;
        height:10px;
        width:2px;
        position:absolute;
        top:4px;
        left:0px;
        margin-left:-10px;
    }
    .hd_wrap .main_gnb li:nth-child(4) .pc_sub_gnb{
        width:180px;
        left:184px;
    }
    .hd_wrap .main_gnb li:nth-child(4) .pc_sub_gnb h3:after{
        width:160px;
    }
    .hd_wrap .main_gnb li:nth-child(5) .pc_sub_gnb{
        width:160px;
        left:320px;
    }
    .main_bn .m_main_bg{
        display:none;
    }
    .main_bn .m_box{
        display:none;
    }
    .main_bn .pc_box{
        display:block;
        height:730px;
        width:100%;
        background-image:url(../images/pc_main_bn_22.png);
        background-repeat:no-repeat;
        background-position:center;
        background-size:cover;
        position:relative;
    }
    .main_bn .pc_box .s_left_wrap{
        width:200px;
        height:320px;
        position:absolute !important;
        bottom:120px;
        left:calc(50% - 530px);
    }
    .main_bn .pc_box .s_left_wrap img{
        width:200px;
        height:auto;
        
    }
    
/*
    .main_bn .pc_box>div img{
        position: absolute;
        top: 0;
        left: 0;
    }
*/
    .main_bn .pc_box .s_right_wrap{
        display:block;
        width:200px;
        height:320px;
        position:absolute;
        bottom:120px;
        left:calc(50% - 305px);
    }
    .main_bn .pc_box .b_wrap{
        display:block;
        position:absolute;
        width:370px;
        height:550px;
        border:10px dotted #f0e3e5;
        padding:1%;
        bottom:60px;
        left:calc(50% + 100px);
    }
    
/*
    .main_bn .pc_box .b_wrap img{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
*/
    .main_bn .pc_box>div img:nth-child(2),.main_bn .pc_box>div img:nth-child(3){
        display:none;
        
    }
    
    .row1 .row1_wrap{
        width:1200px;
        margin:0 auto;
    }
    .row1_wrap .arrow .prev{
        top:140px;
        left:-40px;
}
    .row1_wrap .arrow .next{
        top:140px;
        left:1200px;
    }
/*
    .row1_wrap .pd_wrap:after{
        content:'';
        clear:both;
        display:block;
    }
*/
    
    .row1_wrap .pd_wrap{
        margin-left:0;
    }
    .row1_wrap .pd_wrap .box{
        display:inline-block;

        position:static;
        margin: 0 20px;
    }

/*
    .row1_wrap .pd_wrap .box:nth-child(2),.row1_wrap .pd_wrap .box:nth-child(3),.row1_wrap .pd_wrap .box:nth-child(4),.row1_wrap .pd_wrap .box:nth-child(5){
        display:block;
    }
*/

    .mid_bn{
        position:relative;
    }
    
    .mid_bn:after{
        content: '';
        display: block;
        clear: both;
    }
    .mid_bn .bn1, .mid_bn .bn2, .mid_bn .bn3{
        width: 100vw;
        float: left;
        display: block;
    }
    .mid_bn>div .m_bn{
        display:none;
    }
    .mid_bn>div .pc_bn{
        width:100vw;
        height:auto;
        display: block;
    }
    
    .row2 .row2_wrap{
        width:1200px;
        margin:0 auto;
    }
    .row2_wrap .arrow .prev{
        top:140px;
        left:-40px;
}
    .row2_wrap .arrow .next{
        top:140px;
        left:1200px;
    }
/*
    .row2_wrap .pd_wrap:after{
        content:'';
        clear:both;
        display:block;
    }
*/
    .row2_wrap .pd_wrap{
        margin-left:0;
    }
    .row2_wrap .pd_wrap .box{
/*        display:none;*/
/*        float:left;*/
        position:static;
        margin:0 20px;
        display: inline-block;
    }

/*
    .row2_wrap .pd_wrap .box:nth-child(2),.row2_wrap .pd_wrap .box:nth-child(3),.row2_wrap .pd_wrap .box:nth-child(4),.row2_wrap .pd_wrap .box:nth-child(5){
        display:block;
    }
*/
    .row3 .m_team{
        display:none;
    }
    .row3 .pc_team{
        display:block;
        width:100%;
        height:auto;
    }
    .row3{
        width:100%;
    }
    
    .row4_wrap .m_box_wrap{
        display:none;
    }
    .row4 .row4_wrap{
        width:1200px;
        height:900px;
    }
    .row4 .row4_wrap .pc_first{
        display:block;
        width:1200px;
    }
    .row4 .row4_wrap .pc_first:after{
        content:'';
        clear:both;
        display:block;
    }
    .row4 .row4_wrap .pc_second{
        display:block;
        width:1200px;
    }
    .row4 .row4_wrap .pc_second:after{
        content:'';
        clear:both;
        display:block;
    }
    .row4 .row4_wrap .pc_first .box,.row4 .row4_wrap .pc_second .box{
        float:left;
        width:240px;
        height:240px;
        position:relative;
    }
    .row4 .row4_wrap .pc_first .box:hover .box_cover a,.row4 .row4_wrap .pc_second .box:hover .box_cover a{
        opacity:1;
    }
    .row4 .row4_wrap .pc_first .box .box_cover a,.row4 .row4_wrap .pc_second .box .box_cover a{
        display:block;
        opacity:0;
        height:100%;
        width:100%;
        background-color:rgba(0,0,0,0.5);
        position:absolute;
        top:0;
        left:0;
        text-align:center;
        color:#fff;
    }
    .row4 .row4_wrap .pc_first .box .box_cover a p,.row4 .row4_wrap .pc_second .box .box_cover a p{
        margin-top:calc(50% - 7px);
    }
    .row4 .row4_wrap .pc_first .box .box_cover a p:before,.row4 .row4_wrap .pc_second .box .box_cover a p:before{
        content:'';
        display:block;
        background-image:url(../images/sns_heart.png);
        background-repeat:no-repeat;
        background-size:cover;
        width:25px;
        height:22px;
        position:absolute;
        left:70px;
    }
    footer .ft_wrap{
        width:1200px;
    }
    footer .ft_wrap .m_list{
        display:none;
    }
    footer .ft_wrap .f1{
        position:relative;
        height:100px;
    }
    footer .ft_wrap .f1 h2{
        position:absolute;
        top:28px;
        left:0;
        padding:0;
    }
    footer .ft_wrap .f1 h2 img{
        width:130px;
        height:auto;
    }
    footer .ft_wrap .f1 .pc_icon_box{
        display:block;
        position:absolute;
        right:0;
        top:35px;
    }
    footer .ft_wrap .f1 .pc_icon_box:after{
        content:'';
        clear:both;
        display:block;
    }
    footer .ft_wrap .f1 .pc_icon_box>div{
        float:left;
        margin-right:15px;
    }
    footer .ft_wrap .f1 .pc_icon_box img{
        width:35px;
        height:auto;       
    }
    footer .ft_wrap .f1 .pc_ul{
        display:block;
        color:#ffffff;
        padding-top:40px;
        text-align:center;
    }
    footer .ft_wrap .f1 .pc_ul li{
        display:inline-block;
        font-size:14px;
    }
    footer .f2{
        margin-bottom:100px;
    }
    footer .f2:after{
        content:'';
        clear: both;
        display:block;
    }
    footer .f2>div{
        float:left;
    }
    footer .f2 .box1{
        margin-left:360px;
        margin-right:130px;
    }
    footer .ft_wrap .f2 .box2 h3{
        padding-top:0;
        margin-top:0;
    }
}